<center><h2> Thank you for submitting!  We will respond to you soon.</h2>
<h4>Below is a copy of your complaint for your records.</h4>

<img src = "http://www.yiyinglu.com/wp-content/uploads/2013/11/lifting-a-dreamer-2009.jpg">

<p>
  <strong>Type of Visit:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @article.doctorname %>
</p>

<p>
  <strong>Office You Visited:</strong>
  <%= @article.location %>
</p>

<p>
  <strong>Patient Age:</strong>
  <%= @article.patientage%>
</p>

<p>
  <strong>Feedback Received On:</strong>
  <%= @article.created_at%>
</p>

<p>
  <h2>Comments</h2>

<% @article.comments.each do | comment | %>
 <p>
   <strong>Commenter: </strong>
   <%= comment.commenter%>
</p>

<p>
  <strong>Comment: </strong>

  <%= comment.comment %>
</p>
<% end %>

<h2>Add a comment</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
  <%=f.label :commenter %><br>
  <%=f.text_field :commenter %>
</p>

<p>
  <%=f.label :comment %><br>
  <%=f.text_area :comment%>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<h2>Click <%= link_to 'HERE', articles_path%> to return to the main page.</h2></center>
